{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/aureliendelorme/Desktop/temp/searchBoat/src/Controller/SearchController.php'|file_link(0) }}">src/Controller/SearchController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/aureliendelorme/Desktop/temp/searchBoat/templates/search/index.html.twig'|file_link(0) }}">templates/search/index.html.twig</a></code></li>
    </ul>

    {{ form(formSearch) }}

    {% if datas is defined and  datas|length != 0 %}

    <h2>Les resultats :</h2>

        {% for bateau in datas %}
            {{ bateau.nom }} - {{ bateau.modele }} -
            {{ bateau.longueur }} m. -
            {{ bateau.nbChevaux }} -
            {{ bateau.isVoilier?'Je suis un voilier': 'Je ne suis pas un voilier' }} <br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
